<section id="awards" class="projects-container">
    <h2 class="section-title" data-aos="fade-right">Accolades & Awards</h2>
    <div class="projects-grid">
        
        <div class="project-card expertise-card" data-aos="fade-up">
            <div class="expertise-header">
                <div class="expertise-icon">🏆</div>
                <h3>Participate in SIH</h3>
            </div>
            <p>Awarded by <strong>Participate</strong> for Internal Round Winner at DYPSST.</p>
            <div class="tags">
                <span>#Participate</span><span>#Internal Round Winner</span><span>#DYPSST</span>
            </div>
        </div>

        <div class="project-card expertise-card" data-aos="fade-up" data-aos-delay="100">
            <div class="expertise-header">
                <div class="expertise-icon">🌟</div>
                <h3>Participate in Sports Tournament EAKYAM DYPSST</h3>
            </div>
            <p>Organized by the <strong>EAKYAM Sports Committee </strong> and Secured 2nd rank.</p>
            <div class="tags">
                <span>#Leadership</span><span>#EAKYAM</span><span>#SportsTournament</span>
            </div>
        </div>

        <div class="project-card expertise-card" data-aos="fade-up" data-aos-delay="200">
            <div class="expertise-header">
                <div class="expertise-icon">🥇</div>
                <h3>First Prize</h3>
            </div>
            <p>Awarded at <strong>Orion English Medium School</strong> for the School Flower Decoration Competition.</p>
            <div class="tags">
                <span>#Creativity</span><span>#OrionSchool</span><span>#Achievement</span>
            </div>
        </div>

    </div>
</section>