<footer class="footer-container" data-aos="fade-up">
    <div class="footer-content">
        <div class="footer-logo">
            Chinmay<span class="cosmic-glow">Chaudhari</span>
        </div>
        
        <div class="footer-right">
            <div class="social-links">
                <a href="https://www.linkedin.com/in/chaudhari-chinmay/" target="_blank" class="social-icon">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="https://github.com/Chinmay-3737" target="_blank" class="social-icon">
                    <i class="fab fa-github"></i>
                </a>
                <a href="#" target="_blank" class="social-icon">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
            
            <div class="made-with-love">
                Made with <span class="heart-icon">❤️</span> by <span class="cosmic-glow">Chinmay Chaudhari</span>
            </div>
                
            <p class="copyright">© 2026 Chinmay Chaudhari. All Rights Reserved.</p>
        </div>
    </div>
</footer>